/* RESET */

html {
  --bg: white;
  --hl: #8458B3;
  --hl2: #A0D2EB;
  --txt: black;

  box-sizing: border-box;
  font-size: 20px;
  min-width: 450px;

  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "MONO" 1;

  background: var(--bg);
  color: var(--txt);

  & a {
    color: var(--hl);
    font-weight: bold;
  }

  #logo {
    content: url("icons/icon_light_32x32.png");
  }
}

html.dark {
  --bg: black;
  --hl: #A0D2EB;
  --hl2: #8458B3;
  --txt: white;

  background: var(--bg);
  color: var(--txt);

  & a {
    color: var(--hl);
    font-weight: bold;
  }

  #logo {
    content: url("icons/icon_dark_32x32.png");
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0 0 0.5rem 0;
  padding: 0;
  line-height: 1.6;
}

p+p {
  margin-bottom: 1rem;
}

ol,
ul {
  list-style: disc;
  list-style-position: outside;

  & li {
    margin-left: 2rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  display: flex;
  flex-direction: row;
  align-items: center;
}

figure img {
  margin-right: 2em;
}

blockquote {
  margin: 1.5em 0;
  border-left: 10px solid var(--hl);
  padding-left: 1rem;
}

pre {
  padding: 1rem;
  overflow-x: scroll;
}

/* UTILITY */

.bghl {
  background: var(--hl);
}

.bghl2 {
  background: var(--hl2);
}

.padded {
  padding: 2rem;
}

.mb {
  margin-bottom: 2rem;
}

.mt {
  margin-top: 4rem;
}

.mr {
  margin-right: 1rem;
}

.mblg {
  margin-bottom: 4rem;
}

.hlt {
  color: var(--hl);
  font-weight: bold;
}

.txtrev {
  color: var(--bg);
}

.txtsm {
  font-size: 0.8em;
}

.txtra {
  text-align: right;
}

@media(width <=800px) {
  .txtra {
    text-align: center;
  }
}

/* LAYOUT */

#theme-toggle {
  background: none;
  font-size: 1.2em;
  outline: none;
  border: none;
  cursor: pointer;
}

#header {
  @extend .container;

  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  & .header-item {
    margin-left: 1rem;
    text-decoration: none;
    color: var(--txt);
  }

  & .header-item:hover {
    text-decoration: underline;
    color: var(--hl);
  }
}

.hero {
  display: flex;
  flex-direction: row;
  width: 100%;

  & .hero-box {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .hero-main {
    @extend .hero-box;
    flex: 2;
  }

  @media(width <=1100px) {
    & .hero-main {
      flex: 1;
    }
  }
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  & a {
    color: var(--hl);
    text-decoration: none;
  }

  & a:hover {
    text-decoration: underline;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

@media (width <=800px) {
  .container {
    width: 90%;
  }

  .hero {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
  }

  figure {
    flex-direction: column;
  }

  .hide-when-slim {
    display: none;
  }
}

#footer {
  border-top: 1px solid var(--txt);
  padding-top: 2rem;
  max-width: 960px;
  margin: 2rem auto;
  font-size: 0.8em;
}