<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}William Hart{% endblock %} | willhart.io</title>

    {% block meta_description %}
    <meta name="description"
          content="The home page of Will Hart, scattered with a few random thoughts about code, electronics and other things.">
    {% endblock %}

    <link rel="stylesheet" href="{{ get_url(path='global.css', cachebust=true) }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap" rel="stylesheet">
    {%if page.extra.use_maths |
  default(value=false) %}{%include "enable_maths.html" %}{%endif%}

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
            data-cf-beacon='{"token": "310f93cab66a42c5a328f246cc053025"}'></script>
    <!-- End Cloudflare Web Analytics -->

    <script>
    const checkbox = document.getElementById("theme-toggle")
    checkbox.addEventListener("change", () => {
      document.body.classList.toggle("dark")
    })
    </script>
  </head>

  <body>
    <div id="header">
        <a href="/">willhart.io</a>
        <span>
          <a class="header-item" href="/post">POSTS</a>
          <a class="header-item" href="/tag">TAGS</a>
          <a class="header-item" href="/tag/projects">PROJECTS</a>
          <a class="header-item" href="/tag/tutorials">TUTORIALS</a>
          <a class="header-item" href="/tag/gamedev">GAMEDEV</a>
          <a class="header-item" href="/tag/electronics">ELECTRONICS</a>
          <a class="header-item" href="/tag/random">RANDOM</a>
        </span>
      </div>
    </div>
    {% block content %} {% endblock %}</div>
  </body>

</html>
