<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}willhart.io{% endblock %}</title>

    {% block meta_description %}
    <meta name="description" content="The home page of Will Hart, scattered with a few random thoughts about code, electronics and other things.">
    {% endblock %}

    <link rel="preload" href="/style.css" as="style" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="sticky top-0 p-3 bg-gray-800 z-10 shadow-lg">
    <div class="flex justify-between items-center">
      <a class="text-xs styled-link" href="/">willhart.io</a
        ><span
        ><span class="mr-4"
        ><a class="text-xs styled-link" href="/post">ALL POSTS</a></span
      > <span class="mr-4"
      >|</span> <span class="mr-4"
      ><a class="text-xs styled-link" href="/tag/projects">PROJECTS</a></span
    ><span class="mr-4"
          ><a class="text-xs styled-link" href="/tag/tutorials"
            >TUTORIALS</a
          ></span
        ><span class="mr-4"
          ><a class="text-xs styled-link" href="/tag/gamedev">GAME DEV</a></span
        ><span class="mr-4"
          ><a class="text-xs styled-link" href="/tag/electronics"
            >ELECTRONICS</a
          ></span
        ><span class="mr-4"
          ><a class="text-xs styled-link" href="/tag/random">RANDOM</a></span
        ></span
      >
    </div>
  </div>
    {% block content %} {% endblock %}</div>
  </body>
</html>
