{% extends "base.html" %} {% block content %}
<div
  class="hero bg-gray-700 h-64 mb-12 flex items-center justify-center p-12 border-b-2 border-yellow-300"
>
  <div class="container mx-auto my-0">
    <h1 class="text-yellow-500 text-4xl m-0 mb-8 text-center">Hi, I'm Will</h1>
    <p class="text-yellow-300 text-xl text-center">
      I'm a Product Manager at a Med Tech company in Melbourne.
    </p>
    <p class="text-yellow-300 text-xl text-center">
      I sometimes post my coding/electronics/random adventures here.
    </p>
  </div>
</div>

<article>
  <h2>Things I'm proud of</h2>
</article>
{% endblock content %}
