{% import "macros.html" as macros %} {% extends "base.html" %} {% block content
%}
<div
  class="hero bg-gray-700 h-96 mb-12 flex items-center justify-center p-12 border-b-2 border-yellow-300"
>
  <div class="container mx-auto my-0">
    <h1 class="text-yellow-500 text-4xl m-0 mb-8 text-center">Hi, I'm Will</h1>
    <p class="text-yellow-300 text-xl text-center">
      I'm a Product Manager at a Med Tech company in Melbourne.
    </p>
    <p class="text-yellow-300 text-xl text-center">
      I sometimes post my coding/electronics/random adventures here.
    </p>

    <div class="flex justify-center items-center">
      <a
        class="text-xl text-center hover:no-underline border-2 border-yellow-300 hover:bg-gray-900 my-8 p-4 text-yellow-300"
        href="/post"
        title="See all past posts"
        >See a list of past posts here <span class="ml-2">ᐅ</span></a
      >
    </div>
  </div>
</div>

<article class="container">
  <h1 class="text-center">Some things I've enjoyed making</h1>

  <div
    class="flex flex-row flex-wrap justify-center items-start max-w-4xl m-auto"
  >
    {{macros::big_thumbnail_link(image_src="/thumbnails/clock.png",
    url="/post/cmos-analog-clock/")}}
    {{macros::big_thumbnail_link(image_src="/thumbnails/tauri.png",
    url="/post/tauri-create-react-app-tutorial-part1/")}}
    {{macros::big_thumbnail_link(image_src="/thumbnails/bball.png",
    url="/post/first-impressions-converting-a-firebase-project-to-graphql/")}}
    {{macros::big_thumbnail_link(image_src="/thumbnails/openscad.png",
    url="/post/game-assets-using-openscad/")}}
    {{macros::big_thumbnail_link(image_src="/thumbnails/ember.png",
    url="/post/an-emberjs-beginners-tutorial/")}}
    {{macros::big_thumbnail_link(image_src="/thumbnails/chezdalert.jpg",
    url="/post/chez-dalert-pic-countdown-alarm/")}}
  </div>
</article>

{% endblock content %}
