{% import "macros.html" as macros %} {% extends "base.html" %} 
{% block content %}
<div
  class="hero bg-gray-700 h-72 mb-12 flex items-center justify-center p-12 border-b-2 border-yellow-300"
>
  <div class="container mx-auto my-0">
    <h1 class="text-yellow-300 text-4xl m-0 mb-8 text-center">Hi, I'm Will</h1>
    <p class="text-yellow-300 text-xl text-center">
      I'm a Product Manager at a Med Tech company in Melbourne, Australia.
    </p>
    <p class="text-yellow-300 text-xl text-center">
      I pseudo-randomly post my coding/electronics/random adventures here.
    </p>
  </div>
</div>

<section class="container">
    <h2 class="text-3xl text-center text-yellow-300">Latest Adventures</h2>

    {% set post_section = get_section(path="post/_index.md") %}
    {% for post in post_section.pages | slice(end=4) %}
      <div class="text-lg my-2 text-center"><a class="text-white" href="{{post.permalink}}">{{post.title}} <span>ᐅ</span></a></div>
    {% endfor %}

    <div class="flex justify-center items-center">
      <a
        class="text-xl text-center hover:no-underline hover:bg-gray-900 mt-4 mb-8 p-4 text-yellow-300"
        href="/post"
        title="See all past posts"
        >See all past posts here <span class="ml-2">ᐅ</span></a
      >
  </div>

  <h2>Some things I enjoyed making</h1>

  <div
    class="flex flex-row flex-wrap justify-center items-start max-w-4xl m-auto"
  >
    {{macros::big_thumbnail_link(image_src="/thumbnails/clock.png",
    url="/post/cmos-analog-clock/", caption="CMOS clock")}}
    {{macros::big_thumbnail_link(image_src="/thumbnails/tauri.png",
    url="/post/tauri-create-react-app-tutorial-part1/", caption="Tauri tutorial
    series")}} {{macros::big_thumbnail_link(image_src="/thumbnails/bball.png",
    url="/post/first-impressions-converting-a-firebase-project-to-graphql/",
    caption="Basketball Playbook")}}
    {{macros::big_thumbnail_link(image_src="/thumbnails/openscad.png",
    url="/post/game-assets-using-openscad/", caption="OpenSCAD game assets")}}
    {{macros::big_thumbnail_link(image_src="/thumbnails/ember.png",
    url="/post/an-emberjs-beginners-tutorial/", caption="Ember tutorial
    (old)")}}
    {{macros::big_thumbnail_link(image_src="/thumbnails/chezdalert.jpg",
    url="/post/chez-dalert-pic-countdown-alarm/", caption="Woodworking timer")}}
  </div>
</section>
{% endblock content %}