{% macro render_post_card(post) %}
<div class="mb">
  <div>
      <h3>
        <a title="View post: {{post.title}}" href="{{ post.permalink | safe }}">
          {{post.title}}
        </a>
      </h3>
      <div class="row">
        {% for tag in post.taxonomies.tag %}
        <a class="txtsm mr" href="{{ get_taxonomy_url(kind='tag', name=tag) }}">#{{tag}}</a>
        {% endfor %}
      </div>
      <p>{{post.description}}</p>
  </div>
</div>
{% endmacro render_post %}

{% macro paginator(paginator) %}
<nav>
  {% if paginator.previous %}
  <a href="{{ paginator.previous }}">ᐊ Previous</a>
  {% else %}
  ᐊ Previous
  {% endif %}

  |

  {% if  paginator.next %}
  <a href="{{ paginator.next }}">Next ᐅ</a>
  {% else %}
  Next ᐅ
  {% endif %}
</nav>
{%endmacro paginator%}

