{% extends "base.html" %}
{% block title%}{{page.title}}{% endblock %}
{% block meta_description %}
<meta name="description" content="{{page.description}}. Posted on https://willhart.io" />
{% endblock %}
{% block content %}

<div class="container col mb mt">
  <h1>{{page.title}}</h1>
  <div class="col txtsm mb">
    <span>Posted by Will Hart on {{page.date}}</span>
    <div>
      <span>See also:</span>
      {% for tag in page.taxonomies.tag %}
      <a class="txtsm mr" href="{{ get_taxonomy_url(kind='tag', name=tag) }}">#{{tag}}</a>
      {% endfor %}
    </div>
  </div>
</div>

<article class="container col mblg">{{ page.content | safe }}</article>

<div class="container">
  <h2>Comments</h2>
  <script src="https://utteranc.es/client.js" repo="will-hart/willhart.io" issue-term="title" label="post-comment"
          theme="github-dark" crossorigin="anonymous" async>
  </script>
</div>
{% endblock content %}
