{% extends "base.html" %}
{% block title%}{{page.title}}{% endblock %}
{% block meta_description %}
<meta name="description" content="{{page.description}}. Posted on https://willhart.io" />
<meta property="og:description" content="{{page.description}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:url" content="{{page.permalink | safe}}">
{% endblock %}
{% block content %}

<div class="container col mb mt">
  <h1>{{page.title}}</h1>
  <div class="col txtsm">
    <span>Posted by Will Hart on {{page.date}}</span>
    <div>
      <span>See also:</span>
      {% for tag in page.taxonomies.tag %}
      <a class="txtsm mr" href="{{ get_taxonomy_url(kind='tag', name=tag) }}">#{{tag}}</a>
      {% endfor %}
    </div>
  </div>
</div>

{% if page.extra.show_toc and page.toc %}
  <div class="container col txtsm mb page-toc">
    <h2>Table of contents</h2>
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
  </div>
{% endif %}

<article class="container col mblg">{{ page.content | safe }}</article>

<div class="container col">
  <h2>Comments</h2>
  <script
    src="https://utteranc.es/client.js"
    repo="will-hart/will-hart.github.io"
    issue-term="title"
    label="post-comment"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
</div>
{% endblock content %}
