@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@300&display=swap");

body {
  @apply bg-gray-900 text-white;
  font-family: Raleway, Roboto, sans-serif;
}

a {
  @apply no-underline text-yellow-300 font-bold;
}

a:hover {
  @apply underline;
}

.styled-link {
  opacity: 0.35;
  transition: opacity 0.35s ease-in-out;
  @apply text-xs;
}

.styled-link:hover {
  opacity: 1;
}

article {
  @apply max-w-screen-md mx-auto mb-12;
}

article > p,
article > ul > li,
article > ol > li {
  @apply text-lg text-white text-opacity-75;
}

h1,
article > h2,
article > h3,
article > h4 {
  @apply text-2xl text-white font-bold mt-6 mb-4;
  font-family: Montserrat, sans-serif;
}

article > h3 {
  @apply text-xl;
}

article > h4 {
  @apply text-lg;
}

article > p {
  @apply mb-3;
}

article > p + p {
  @apply mt-6;
}

article > ul,
article > ol {
  @apply list-disc list-inside my-3 mx-4;
}

article > ol {
  @apply list-decimal;
}

article pre + p,
article p + pre {
  @apply mt-6;
}

article > p > code,
article li > code {
  @apply p-1;
  background: #2f2f2f;
}
