@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@300&display=swap");

body {
  @apply bg-darkbg text-white;
  font-family: Raleway, Roboto, sans-serif;
}

a {
  @apply no-underline text-yellow-300 font-bold;
}

a:hover {
  @apply underline;
}

.styled-link {
  @apply text-xs;
}

.styled-link:hover {
  @apply underline;
}

article {
  @apply max-w-screen-md mx-auto mb-12;
}

article > p,
article > ul > li,
article > ol > li {
  @apply text-lg text-white text-opacity-75;
}

h1,
article > h2,
article > h3,
article > h4 {
  @apply text-2xl text-white font-bold mt-6 mb-4;
  font-family: Montserrat, sans-serif;
}

article > h3 {
  @apply text-xl;
}

article > h4 {
  @apply text-lg;
}

article > p {
  @apply mb-3;
}

article > p + p {
  @apply mt-6;
}

article > ul,
article > ol {
  @apply list-disc list-inside my-3 mx-4;
}

article > ol {
  @apply list-decimal;
}

article pre + p,
article p + pre {
  @apply mt-6;
}

li {
  text-indent: -18px;
  margin-left: 25px;
}

article > p > code,
article li > code {
  @apply p-1;
  background: #2f2f2f;
}

article > blockquote {
  @apply border-l-4 border-yellow-500 my-6 p-4 bg-yellow-800 bg-opacity-50;
}

article img {
  @apply my-6 mx-auto;
}
